@use 'variables' as*;

h1,h2,h3,h4, h5, h6 , label
{
  
    font-family: 'crete round',serif,"Arial black",sans-serif ;
    
}

p, a, form{
    line-height: 1.25rem;
    font-family:'Noto Sans', serif,"Arial black",sans-serif;
}